<!DOCTYPE html>
<html>
<head>
  <title>Користувачі</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body data-theme="<%= theme %>">
<h1 class="heading">Список авторів</h1>
<ul class="content-list">
  <% users.forEach(user => { %>
    <li class="list-item"><a href="/users/<%= user._id %>"><%= user.name %></a></li>
  <% }) %>
</ul>
<a class="action-link" href="/">На головну</a>

<form action="/toggle-theme" method="POST" class="theme-toggle-form">
  <input type="hidden" name="returnTo" value="<%= req.originalUrl %>">
  <button type="submit">
    Перемкнути на <%= theme === 'dark' ? 'світлу' : 'темну' %> тему
  </button>
</form>
</body>
</html>
